[column]
	ui = auto
[status]
	showStash = yes
[stash]
	showPatch = yes
[grep]
	lineNumber = yes
[pull]
	ff = only
[rebase]
	missingCommitsCheck = error
[interactive]
	singleKey = yes
[merge]
	conflictStyle = diff3
	tool = vimdiff
[diff]
	colorMoved = yes
	colorMovedWS = allow-indentation-change
[blame]
	date = human
	coloring = highlightRecent
[advice]
	statusHints = no
	detachedHead = no
	addIgnoredFile = no
	addEmptyPathspec = no
