# Keys
.gnupg
.ssh/id_*
.ssh/authorized_keys*

# Databases
.ssh/known_hosts*
.vim/spell
.vim/undo
.vim/backup
.viminfo
.wget-hsts

# Readline
*hist*
*hst

# Machine-local
.env
.ssh/hosts
.vim/plugin
.config/bash/bashrc
