set blink-matching-paren
set colored-completion-prefix
set colored-stats
set completion-ignore-case
set completion-map-case
set echo-control-characters off
set enable-bracketed-paste
set history-preserve-point
set mark-modified-lines
set menu-complete-display-prefix
set show-all-if-ambiguous
set skip-completed-text
set visible-stats

# TAB and Shift-TAB
TAB: menu-complete
"\e[Z": menu-complete-backward
